@import 'normalize';
@import 'common-setting';
@import 'blocks/header';
@import 'blocks/booking';
@import 'blocks/works';
@import 'blocks/information';
@import 'blocks/question-answer';
@import 'blocks/contacts';
@import 'blocks/footer';
