.main-room {
    &__wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 200px;
    }


    &__booking-wrap {
        width: 30%;
        //border: 1px solid red;
        padding-left: 100px;
        padding-right: 17px;
        display: flex;
        justify-content: flex-end;

    }

    &__booking {
        max-width: 330px;

    }

    // &__booking--fixed {
    //     margin-top: 20px;
    //     position: fixed;
    //     top: 0px;
    //     left: 0px;
    // }

    &__apartment {
        width: 70%;
        //border: 1px solid red;
    }

    &__title {
        font-family: 'Oranienbaum Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 1.26;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        color: $main-color-text;
        margin-bottom: 25px;
    }

    &__description {
        font-size: 18px;
        line-height: 1.26;
        letter-spacing: 0.17em;
        color: $main-color-text;
        margin-bottom: 25px;
    }

    .form {
        max-width: 320px;
        margin-bottom: 50px;

        &__lable {
            font-size: 20px;
            margin-bottom: 15px;
        }

        &__date-in,
        &__select-persons {
            margin-right: 0;
            margin-bottom: 20px;
        }

        &__date-interval {
            margin-bottom: 20px;
            flex-wrap: wrap;
        }

        &__wrap-accommodation {
            margin-bottom: 30px;
            flex-wrap: wrap;
        }

        &__date-in,
        &__date-out,
        &__select-persons,
        &__input {
            max-width: 320px;
            width: 100%;
        }

        &__aside {
            display: flex;
            width: 100%;
            flex-direction: row;
            margin-left: 0;
            justify-content: space-between;
        }

        &__calendar,
        &__persons,
        &__children {
            width: 100%;
        }
        .form {
        .select-country {
            margin-right: 30px;
            margin-bottom: 0;
        }}

    }

    .select-country {

        &__header,
        &__body {
            width: auto;
            min-width: 145px;
        }
    }

    .select-currency {
        &__currencies {
            width: auto;
            min-width: 145px;
        }
    }

    &__checkbox {
        font-size: 20px;
        font-weight: normal;
        line-height: 1.26;
        letter-spacing: 0.17em;
        color: $main-color-text;
        margin-bottom: 11px;
        max-width: 200px;
        cursor: pointer;

        label {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        span {
            width: 23px;
            height: 23px;
            background-color: #000000;
            vertical-align: middle;
            display: inline-flex;
            justify-content: center;
            align-items: center;

        }

        span span {
            font-size: 18px;
            font-family: 'Oranienbaum Regular', sans-serif;
            font-style: normal;
            font-weight: normal;
            color: $secondary-color-text;
            padding-left: 4px;
            line-height: 1.26;
            text-align: center;
            letter-spacing: 0.17em;

        }

        input[type="checkbox"] {
            display: none;
        }

        input[type="checkbox"]:checked+label {
            font-weight: bold;
        }

        input[type="checkbox"]:checked+label span span {
            background: linear-gradient(180deg, #EBFF00 0%, #FF8A00 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &:hover {
            transform: scale(1.1);
        }
    }



    &__item {
        margin-bottom: 200px;

        &:not(:first-child) {
            margin-top: 100px;

        }
    }

    &__img {
        width: 100%;
        min-height: 539px;
        overflow: hidden;
        position: relative;
    }

    &__img img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

    }

    &__content {
        background-color: #ffffff;
        max-width: 942px;
        width: 90%;
        margin: -100px auto 0;
        position: relative;
        padding-top: 34px;



    }

    &__name {
        font-family: 'Oranienbaum Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 1.26;
        text-align: center;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        color: $main-color-text;
        margin-bottom: 50px;

    }

    &__description {
        margin-bottom: 50px;
    }

    &__description p {
        font-family: 'PlayfairDisplay Regular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.26;
        text-align: center;
        letter-spacing: 0.17em;
        color: $main-color-text;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__group-btn {
        display: flex;
        justify-content: center;
    }

    &__btn-more {
        border: 1px solid #000000;
        margin-right: 40px;
        padding: 19px 40px;
        color: $main-color-text;
    }

    &__btn-booking {
        color: $main-color-text;
        padding: 19px 40px;
    }

}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;

    &__item {
        width: 50px;
        height: 50px;
        border: 1px solid #000000;
        display: flex;
        justify-content: center;
       
        font-size: 30px;
        line-height: 1.26;
        text-align: center;
        padding: 3px;

        &:not(:last-child) {
            margin-right: 31px;
        }
    }

    &__item:hover,
    &__item--active {
        background: linear-gradient(180deg, #EBFF00 0%, #FF8A00 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-image: linear-gradient(180deg, #EBFF00 0%, #FF8A00 100%);
        border-image-slice: 1;
    }
}

@media (max-width: 1200px) {
    .main-room {
        &__booking-wrap {
            display: none;
        }

        &__apartment {
            width: 100%;
        }
    }

}

@media (max-width: 768px) {
    .main-room {
        &__booking-wrap {
            display: flex;
            width: 100%;
            padding: 0 10px;
        }

        &__booking {

            margin: 0 auto;
            margin-bottom: 100px;
        }

        &__group-btn {
            flex-wrap: wrap;
        }

        &__btn-more {
            //max-width: 170px;
            width: 100%;
            margin-right: 0;
            margin-bottom: 15px;
        }

        &__btn-booking {
            width: 100%;
        }
    }
}

@media (max-width: 425px) {
    .main-room {
        .main {
            &__title {
                margin-bottom: 30px;
            }
        }
        .select-country {
            margin-right: 0;
        }
        &__wrap {
            margin-bottom: 120px;
        }

        &__name {
            font-size: 16px;
        }

        &__name span {
            font-size: 18px;
        }

        &__description p {
            font-size: 12px;
        }

        &__img {
            min-height: 320px;
        }

        &__btn-more {
            max-width: 170px;
            padding: 13px 40px;
            font-size: 14px;

        }

        &__btn-booking {
            font-size: 14px;
        }
        &__item {
            margin-bottom: 120px;
        }
        .pagination {
            &__item {
                width: 30px;
                height: 30px;
                font-size: 20px;
                line-height: 0.8;
                &:not(:last-child) {
                    margin-right: 16px;
                }
            }
        }
    }
    
}