.footer {
    background-color: #000000;
    padding: 20px;
    &__wrap {
        height: 253px;
    }
    .navigation-block {
        top: 0;
        height: inherit;
        align-items: center;
    }
    .nav__item-list_active-top:after {
        transform: rotate(180deg);
    }
}

@media (max-width: 1330px) {
    .footer {
        .square {
            display: none;
        }
    }
}
@media (max-width: 1024px) {
    .footer {
        .nav {
            display: none;
        }
        .logo, .lang-switcher, .main-number {
            display: flex;
        }
    }
}
@media (max-width: 768px) {
    .footer {
        &__wrap {
            height: 186px;
        }
        .logo {
            width: 50%;
        }
        .lang-switcher {
            width: 50%;
            justify-content: flex-end;
        }
         .main-number {
             width: 100%;
             justify-content: center;
         }
    }
}