.header {
    background-color: rgb(54, 47, 47);
    //background-image: url(../img/main-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;

    &__wrap {
        position: relative;
    }


    &__main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    &__subtitle {
        font-size: 24px;
        font-style: normal;
        font-weight: normal;
        line-height: 1.26;
        text-align: center;
        letter-spacing: 0.17em;
        color: $secondary-color-text;
        margin-bottom: 25px;
    }

    &__title {
        max-width: 600px;
        font-size: 72px;
        font-style: normal;
        font-weight: normal;
        line-height: 1.26;
        text-align: center;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        color: $secondary-color-text;
        margin-bottom: 25px;
    }

    &__socials {
        position: absolute;
        top: 40%;
        left: 0;
    }

}

.wrapper {
    background: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
}

.navigation-block {
    position: absolute;
    top: 17px;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.square {
    width: 58px;
    height: 58px;
    background: #C4C4C4;
}

.logo {
    font-family: 'Oranienbaum Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: $secondary-color-text;
}

.nav {
    &__item {
        display: flex;
        align-items: center;
        max-width: 740px;

        &-link {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.17em;
            text-transform: uppercase;
            color: $secondary-color-text;
        }

        &-list:not(:last-child) {
            margin-right: 35px;
        }

        &-list {
            position: relative;

            &_active-top {
                font-weight: bold;

                &:after {
                    content: '';
                    display: inline-block;
                    width: 10px;
                    height: 5px;
                    position: absolute;
                    top: 50%;
                    left: 105%;
                    background-image: url(../img/arrow.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    vertical-align: middle;
                }
            }
        }

        &-list:hover {
            font-weight: bold;
        }
    }

}

.lang-switcher,
.main-number {
    font-family: 'Montserrat Regular', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    background: linear-gradient(180deg, #EBFF00 0%, #FF8A00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.socials {
    padding-left: 15px;
   
    &__item {
        &:not(:last-child) {
            margin-bottom: 44px;
        }
    }
    &__item {
        &:hover {
            transform: scale(1.2);
        }
    }
}

.down {
    background-image: url(../img/down.svg);
    width: 30px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 40px;
    left: calc(50% - 15px);
    animation: arrow 2s infinite ease-in-out;
}

@keyframes arrow {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.nav-toggle {
    display: none;
    width: 22px;
    height: 22px;
    background-color: transparent;
    position: relative;
    top: 0;
    right: 0;
    //top: 20px;
    //right: 20px;
    padding: 20px;
    position: absolute;
    border: none;
}

.nav-toggle span,
.nav-toggle span::before,
.nav-toggle span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -11px;
    width: 22px;
    height: 2px;
    background-color: #fff;
}

.nav-toggle span::before,
.nav-toggle span::after {
    content: '';
}

.nav-toggle span::before {
    transform: translateY(-6px);
}

.nav-toggle span::after {
    transform: translateY(6px);
}

.nav-toggle_active span,
.nav-toggle_active span::before,
.nav-toggle_active span::after {
    background: linear-gradient(180deg, #EBFF00 0%, #FF8A00 100%);
}

.none-padding {
    padding: 0;
}



@media (max-width: 1280px) {
    .square {
        display: none;
    }

    .logo {
        width: 30%;
        padding-bottom: 10px;
    }

    .nav {
        width: 70%;
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 992px) {
    .logo {
        display: none;
    }

    .nav {
        width: 100%;
        margin-bottom: 15px;

        &__item {
            min-width: 100%;
            justify-content: space-between;
        }
    }
}

@media (max-width: 768px) {
    .logo {
        display: flex;
    }

    .header {
        &__subtitle {
            font-size: 20px;
        }

        &__title {
            font-size: 50px;
        }
    }

    .nav-toggle {
        display: block;
        z-index: 4;
        outline: none;
    }

    .nav,
    .lang-switcher,
    .main-number,
    .socials {
        display: none;
    }

    .socials {
        &__item:not(:last-child) {
            margin-bottom: 0px;
            margin-right: 45px;
        }
    }


    .menu-active {
        .nav {
            background-color: $main-color-text;
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            //left: -10px;

            z-index: 3;
            display: flex;
            justify-content: center;
            padding-top: 150px;

            &__item {
                flex-direction: column;
                justify-content: flex-start;

                &-list:not(:last-child) {
                    margin-right: 0px;
                    margin-bottom: 48px;
                }
            }
        }

        .lang-switcher {
            display: block;
            position: absolute;
            bottom: 180px;
            width: 100%;
            z-index: 4;
        }

        .main-number {
            display: block;
            z-index: 4;
            position: absolute;
            bottom: 130px;
            width: 100%;

        }

        .navigation-block {
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
        }
    }

    .header__socials-active {
        top: auto;
        bottom: 54px;
        display: flex;
        width: 100%;
        justify-content: center;
        z-index: 4;
    }

}

@media (max-width: 375px) {
    .header {
        //background-image: url(../img/main-bg-mb.svg);

        &__subtitle {
            font-size: 12px;
        }

        &__title {
            font-size: 36px;
        }
    }

    .menu-active {
        .nav {
            padding-top: 50px;
        }
    }
}